$black: #010101;
$black-background: #1B1B1C;
$black-text: #343437;
$gray: #717173;
$light-gray: #F0F0F0;
$white: #ffffff;
$carrot: #DF5C32;
$carrot-hover: #D95125;
$dark-grey: #5B6474;
$base-font:  'HalvarBreitRg', sans-serif;
$base-font-medium:  'HalvarBreitMd', sans-serif;
$second-font: 'Verdana', sans-serif;