@import "./helpers/gue";
@import "./helpers/fonts";
@import "./helpers/grid";
@import "./helpers/rem";
@import "./helpers/mixin";

*, *::before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

::-ms-clear {
  display: none;
}

html {
  font-size: 14px;
  scroll-behavior: auto;
}

body {
  font-family: $base-font;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, p {
  color: $DimGrey;
}


.test {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  @include to-md() {
    flex-direction: column;
  }
}

br.to-sm {
  @include to-md() {
    display: none;
  }
}

br.to-xxs {
  @include to(320px) {
    display: none;
  }
}

.body-overflow {
  overflow-y: hidden;
}

button {
  font: inherit;
}


.section {
  @include adaptive(90, 60, 20, padding-right);
  @include adaptive(90, 60, 20, padding-left);
  @include adaptive(60, 60, 40, padding-top);
  @include adaptive(80, 80, 40, padding-bottom);
}

.hide-on-middle {
  @include to(650px) {
    display: none;
  }
}

.hidden-block {
  display: none;
}


.error-message {
  text-transform: capitalize;
  font-size: 14px;
  color: $carrot;
  transition: all 0.8s ease-in-out;
}