@import "../../assests/styles/helpers/gue";
@import "../../assests/styles/helpers/fonts";
@import "../../assests/styles/helpers/grid";
@import "../../assests/styles/helpers/mixin";


.header {
  $self: &;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  position: sticky;
  padding: 20px 0;
  
  &__underline {
    height: 60px;
    background: $dark-grey;
    margin: 0 auto;
  }

  &__logo {
    display: flex;
    margin-right: 40px;
    margin-bottom: 13px;
    font-weight: 600;
    a {
      color: $DimGrey;
      @include adaptive(28, 28, 18, font-size);
      padding-left: 80px;
      @include adaptive(60, 60, 20, padding-right);
      @include adaptive(60, 60, 20, padding-left);
    }

    img {
      width: 45px;
    }
  }

  &__nav {
    display: flex;
    width: 100%;
    max-width: 700px;
    @include adaptive(60, 60, 20, padding-right);
    @include adaptive(60, 60, 20, padding-left);

    @include to(768px) {
      justify-content: center;
    }
  }

  &__menu-inner {
    display: flex;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;

    #{$self}__link {
      list-style: none;
      font-weight: 600;

      a {
        text-decoration: none;
        color: $DimGrey;
        @include adaptive(24, 24, 18, font-size);
      }
    }
  }

  &__menu-inner__vertical-line {
    height: 2px;
    width: 32px;
    background: $DimGrey;
    transform: rotate(90deg);
    margin-top: 10px;
    @include to(430px) {
      width: 20px;
    }
  }
}

