@import "../../assests/styles/helpers/gue";
@import "../../assests/styles/helpers/fonts";
@import "../../assests/styles/helpers/grid";
@import "../../assests/styles/helpers/mixin";


.header {
  $self: &;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;

  &__logo {
    list-style: none;
    text-decoration: none;
    a {
      color: $black-background;
      @include adaptive(28, 28, 18, font-size);
      padding-left: 80px;
      @include adaptive(40, 40, 25, padding-right);
      @include to(320px) {
        padding-left: 0;
      }
    }
  }

  &__nav {
    display: flex;
    width: 100%;
    max-width: 700px;
    @include adaptive(120, 90, 25, padding-right);
    @include adaptive(120, 90, 25, padding-left);
    @include to(768px) {
      justify-content: center;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;

    #{$self}__link {
      list-style: none;

      a {
        text-decoration: none;
        color: $black-background;
        @include adaptive(28, 28, 18, font-size);
      }
    }
  }


 
}

